/* Temporary CSS for Presentation */
.container{
  max-width: 1320px;
  margin: 0 auto;
}

.container.full-width {
    max-width: 100vw;
}

.row.full-width {
    max-width: 100%;
}

section:not(.top-bar-section){
  max-width: 100vw;
  padding: 65px 0 85px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


.row {
    max-width: 80%;
}

.container .row {
    max-width: none;
}

.swatch h5 {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;

}

.swatch h5 + p {
  font-size: 0.95rem;
  line-height: 1.3;
  color: #999;
  margin: 0;
}




html, body{
  font-size: 18px;
  color: #404040;
  font-family:"freight-macro-pro", serif;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

body{
  padding-bottom: 100px;
}

/* Typography*/

h1, h2, h3, h4, h5 {
  font-family:"freight-macro-pro", serif;
}

h1{
  font-size: 8rem;
  font-weight: 700;
  color: #d83c26;
  line-height: 1;
}
h2{
  font-size: 4rem;
  font-weight: 700;
  color: #d83c26;
}
h3{
  font-size: 1.6rem;
  font-weight: 700;
  color: #d83c26;
}
h4{

}
h5{
  font-size: 0.9375em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #4d4d4d;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width: 40em) {
  h1 {
    font-size: 2.8rem;
    font-size: 2.125rem;
    margin-right: 0.9375rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}
p{
  font-size: 1rem;
  line-height: 1.5;
  max-width: 650px;
}

//Added by KC
h2 a, h3 a {
  color: #d83c26 !important;
  border: none !important;
}
a:link, a:visited{
  color: #404040;
  text-decoration: none;
  border-bottom: 1px solid #d93801;
  //comment out by KC
  //display: inline-block;
  transition: color 0.3s;
}

a:hover, a:focus{
  color: #d93801
}

button, a.button{
  background-color: #d93800;
  border-radius: 3px;
  color: white;
  transition: background-color 0.3s;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

a.button.center {
  display: inline-block;
  left: 50%;
  position: absolute;
  width: auto;
  transform: translateX(-50%);
}

button:hover, a.button:hover, a.button:focus {
  background-color: #b83000;
}

input[type="text"] {
    box-shadow: none;
    border: none;
}

/* Dropdown */
.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #d93801;
    color: #FFFFFF;
    background: #d93801;
}

.top-bar-section ul.dropdown li {
    background: white;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: white;
    color: #666;
    border-bottom: none;
}

.top-bar-section .has-dropdown.not-click:hover > .dropdown {
    font-size: 1rem;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    border-top: 5px solid #d93801;
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    background-color: white;
    color: #d93801;
    background: white;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.25;
    padding: 0;
}

.top-bar-section .dropdown li:not(.has-form) h5 a:not(.button),
.top-bar-section .dropdown li:not(.has-form) h5 a:not(.button):hover {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.25;
    padding: 0;
    font-weight: 700;
    color: #d93801;
    margin-bottom: 0;
    text-transform: none;
    background: white;
    background-color: white;
}

.top-bar-section .dropdown li:not(.has-form) h6 a:not(.button),
.top-bar-section .dropdown li:not(.has-form) h6 a:not(.button):hover {
    font-size: 1em;
    font-weight: 700;
    line-height: 2.25;
    padding: 0;
    font-weight: 700;
    color: #d93801;
    margin-bottom: 0;
    text-transform: none;
    background: white;
    background-color: white;
    color: #660000;
    font-weight: 600;
    line-height: 2.5;
}

.dropdown h5 {
    text-transform: capitalize;
    letter-spacing: 0;
    font-family: "freight-macro-pro", serif;
    font-size: 1.4em;
    color: #d93801;
    margin-bottom: 0;
}

.dropdown h6 {
    font-size: 1em;
    font-family: "freight-macro-pro", serif;
    color: #660000;
    border-top: 1px solid #e5e5e5;
    line-height: 2.5;
    display: block;
}

ul.larger li a {
    font-size: 1.3em !important;
    line-height: 40.5px !important;
}


/* Mobile Menu */

.top-bar .toggle-topbar.menu-icon a {
    color: #d93801;
    height: 34px;
    line-height: 33px;
    padding: 0 2.5rem 0 0.9375rem;
    position: relative;
    letter-spacing: 0.08rem;
    border-bottom: none;
}

.top-bar.expanded .toggle-topbar a {
    color: #d93801;
    letter-spacing: 0.08rem;
    border-bottom: none;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #404040, 0 7px 0 1px #404040, 0 14px 0 1px #404040;
}

.top-bar.expanded .title-area {
    background: white;
}

.top-bar-section ul li {
    background: white;
}

.top-bar-section ul li > a {
    font-family: "freight-macro-pro", serif;
    font-size: 1.125rem;
    color: #d93801;
    font-weight: 600;
}

.top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent #d93801;
}

.top-bar-section ul li:hover:not(.has-form) > a:after {
    border-color: transparent transparent transparent white;
}

li.title.back.js-generated, li.parent-link {
    padding: 0 0.9375rem;
}

.top-bar-section .dropdown li:not(.has-form).title.back h5 a:not(.button) {
    font-size: 0.95rem;
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 400;
}

.top-bar-section .dropdown li:not(.has-form).title.back h5 a:not(.button):before {
    content: '\2190\00a0';
    display: inline-block;
}



/* Reservation Form */
.reservation input[type="text"] {
    box-shadow: none;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

input.datepicker, input.datepicker:focus {
    padding-left: 38px;
    background-image: url(images/calendar-icon.gif);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 12px;
}


/* Dropdown Reservation Form */

.top-bar-section .dropdown li .reservation label {
    background: white;
    text-transform: none;
    font-weight: 400;
    font-size: 0.85em;
    padding-left: 0;
    padding-right: 0;
}

.top-bar .reservation input[type="text"]{
  border: 1px solid #ccc;
}

.top-bar .reservation input[type="text"],
.top-bar .reservation select {
    font-size: 0.9rem;
    top: 0;
}

.top-bar .reservation input[type="text"]:focus {
    border: 1px solid #e0e0e0;
}

.top-bar-section .dropdown .reservation .column, .top-bar-section .dropdown .reservation .columns {
    position: relative;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    float: left;
}

.top-bar-section .row .reservation .row{
  margin: 0;
}

section.map-listing {
    border-top: 30px solid #168dab;
    padding-top: 0;
}

.card-grid .filter {
    background-color: #fff;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    color: #737373;
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
}

a.filter-button {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    color: rgba(0,0,0,0.75);
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 0;
    height: 2.3125rem;
}

ul.display-type {
    padding: 0;
    margin: 0;
}

ul.display-type li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
}

ul.filter-options {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.filter-options li {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

ul.filter-options li > * {
    margin-right: 8px;
}

.filter-options select {
    margin-bottom: 0;
}


.leaderboard-ad-container {
    width: 728px;
    height: 90px;
    margin: 90px auto 0;
}

.restaurant.card-grid .leaderboard-ad-container {
    margin: 30px auto 50px;
}

/* Advertising */

.ad-row{
  background-color: #d2edeb;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ad-row .ad-300x100 {
    display: inline-block;
    margin-bottom: 30px;
}

.ad-300x100:last-child {
    margin-right: 0;
}

.ad-300x250 {
  width: 300px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.column.sidebar {
    padding: 0;
}

.sidebar .ad-300x250:first-of-type {
    margin-top: 50px;
}

.ad-300x600 {
  width: 310px;
  height: 610px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}

.hero .ad-300x250 {
    width: 310px;
    height: 260;
    border: 5px solid white;
}


/* Masonry Cards */
.row.masonry:first-of-type{
  margin-bottom: 0.9375rem;
}
.masonry > .column {
    padding: 0;
    overflow: hidden;
}

.masonry .photo-card{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.masonry .photo-card .gradient-overlay {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 90%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 90%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 90%);
}

.masonry .photo-card h4 {
    color: #790300;
    background-color: white;
    line-height: 0.95;
    padding: 8px 12px;
    font-weight: 600;
    font-family: "freight-macro-pro", serif;
    font-size: 1.75rem;
}

.masonry .photo-card h4 a {
    border-bottom: none;
    color: #790300;
    transition: color 0.3s;
}

.masonry .photo-card h4 a:hover {
    color: #fa4c07;
}

@media only screen and (min-width: 40.063em) {
  .masonry > .column:first-child {
      padding-right: 0.9375rem;
  }

  .masonry > .column:first-child .gradient-overlay {
      width: calc(100% - 0.9375rem);
  }
}

/* Utility & Helper Classes*/

.sixteen-nine,
.four-three,
.square {
  position: relative;
  overflow: hidden;
}

.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  //comment out by KC
  //padding-top: 56.25%;
}

.four-three:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}

.square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.sixteen-nine > .content,
.four-three > .content,
.square > .content {
  //position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inline-fixed{
  position: fixed;
}

.flex-stretch{
  display: flex;
  align-items: stretch;
}

ul.pagination li a, ul.pagination li button {
    border-bottom: none;
}

ul.pagination.center {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.75);
  padding: 8px 10px;
  border-radius: 2px;
}


/* Index Listing Cards  */

.card-grid {
    background-color: #f2f2f2;
    padding-top: 1.5em;
}

.dark-card-grid {
    background-color: #1a1a1a;
    padding-top: 1.5em;
}

.standard-card, .featured-card{
  background-color: white;
  font-family: "franklin-gothic-urw", sans-serif;
  margin-bottom: 20px;
}

.standard-card img,
.featured-card img,
.photo-card img{
  width: 100%;
  max-width: 100%;
}

.card-bottom-margin {
  margin-bottom: 30px;
}
/*.photo-card {
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.photo-card:hover {
    transform: scale(1.03,1.03);
    cursor: pointer;
}*/

.standard-card .gradient-overlay,
.featured-card .gradient-overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 60%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 60%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

.photo-card .gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 50%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
}

.photo-card .info {
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.photo-card h4 {
  font-family: "franklin-gothic-urw", sans-serif;
  color: #43d4fe;
  font-size: 1.1em;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  margin: 0 0 5px;
}

.photo-card p {
  font-family: "franklin-gothic-urw", sans-serif;
  color: white;
  font-size: 0.8em;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  margin: 0 0 8px;
}

.photo-card a.button.tiny {
  font-size: 15px;
  padding: 7px 9px;
  line-height: 1;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.07em;
}

.standard-card h4,
.featured-card h4 {
  font-family: "franklin-gothic-urw", sans-serif;
  color: white;
  font-size: 1.1em;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  position: absolute;
  bottom: 0;
  margin: 0 14px 15px;
}

.standard-card .info,
.featured-card .info {
  padding: 15px 25px 15px 15px;
}

div.address {
  background-color: #dff5f3;
  margin: -15px -25px 0 -15px;
  padding: 15px 25px 15px 15px;
  min-height: 120px; //Added By KC
}

p.address {
  margin: 0;
  font-size: 0.8em;
  color: #595959;
}

p.address a {
  color: #595959;
}

p.address a:hover, p.address a:focus{
  color: #d93801
}

.standard-card p.description,
.featured-card p.description {
  color: #666666;
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 0.75rem;
  line-height: 1.6;
  //added by KC
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 3.6em;
  max-height: 3.6em;
}

.featured-card .button {
  margin-bottom: 10px;
}


/* Sign Up Form */
.sign-up-form {
    background-image: url(images/teal-herringbone-bg.jpg);
    background-repeat: no-repeat;
    min-height: 125px;
    padding: 40px 20px 20px;
    background-size: cover;
}

.sign-up-form p {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.1;
}








/* Colors */

.orange-bg{background-color: #fa4c07 !important;}
.dark-blue-bg{background-color: #168dab !important}
.burgundy-bg{background-color: #790300 !important}
.teal-bg{background-color: #53cfb8 !important}
.green-bg{background-color: #b1b002 !important}
.light-orange-bg{background-color: #ff6900 !important}
.dark-orange-bg{background-color: #d93801 !important}
.light-blue-bg{background-color: #43d4fe !important}
.dark-burgundy-bg{background-color: #660000 !important}
.light-teal-bg{background-color: #d1ecea !important}
.yellow-bg{background-color: #ffcc4d !important}
.pink-bg{background-color: #f78db6 !important}


.dark-gray-bg {
    background-color: #333 !important;
}
.medium-gray-bg {
    background-color: #a7a9ac !important;
}
.light-gray-bg {
    background-color: #f2f2f2 !important;
}

.dark-gray-bg h2 {
    color: white;
}

/* Topbar  */
.contain-to-grid .top-bar {
    font-family: "freight-macro-pro", serif;
    background-color: white;
}
.name a {
    display: block;
    background-color: #660000;
    border-bottom: none;
    width: 185px;
    height: 100%;
    background-image: url(images/santa-cruz-logo.jpg);
    background-size: cover;
    text-indent: -9999px;
}

.top-bar input, .top-bar select, .top-bar .button, .top-bar button {
    font-size: 1.35rem;
    height: 1.75rem;
    position: relative;
    top: 0.53125rem;
    background-color: #f2f2f2;
}

.top-bar .button {
    color: #8c8c8c;
}

.top-bar input[type="text"] {
    border: none;
    box-shadow: none;
    font-weight: 300;
    letter-spacing: 0.02em;
}

button.topbar-button {
    height: 100%;
    top: 0;
}

.top-bar input[type="text"]:focus {
    background-color: transparent;
}


/* Index Page Structures */
section.hero {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
}

.hero .background-1 {
  width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-1 .container {
    padding-top: 400px;
}

.hero .background-2 {
  width: 100vw;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 30px solid;
}

section.hero.short-image {
    border-bottom: 15px solid #d93701;
    position: relative;
}

section.main.card-grid {
    padding-top: 0;
}

.row.featured-card-row {
    margin: 0 -1.875rem;
}

.card-grid .featured-card-row .filter {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.page-title-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero.short-image .background {
    height: 80px;
    background-position: center;
    background-size: cover;
}

.dine .background-1 {
  background-image: url('images/dine-cover-photo.jpg');
}

.dine .background-2{
  background-image: url('images/dine-cover-secondary.jpg');
  border-top-color: #fb4c07;
}

.stay .background-1 {
  background-image: url('images/stay-cover-primary.jpg');
}

.stay .background-2{
  background-image: url('images/stay-cover-secondary.jpg');
  border-top-color: #168dab;
}

.explore .background-1 {
  background-image: url('images/explore-cover-primary.jpg');
}

.explore .background-2{
  background-image: url('images/explore-cover-secondary.jpg');
  border-top-color: #168dab;
}

.events .background-1 {
  background-image: url('images/events-cover-photo.jpg');
}

.events .background-2{
  background-image: url('images/events-cover-secondary.jpg');
  border-top-color: #168dab;
}

.page-title h1 {
    color: white;
    line-height: 1;
    margin: 0 0.9375rem;
}

.hero .intro, .hero .ad {
    position: relative;
    top: -120px;
}

.hero .intro {
    padding: 15px 45px 15px 20px;
    background-color: white;
}

.hero .row {
    max-width: none;
}

.breadcrumbs {
    color: #bfbfbf;
    font-family: "franklin-gothic-urw", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 20px 0;
}

.breadcrumbs ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    float: left;
    margin-right: 10px;
    font-size: 0.875rem;
}

.breadcrumbs li:after {
    content: '>';
    margin-left: 10px;
}

.breadcrumbs li:last-child:after {
    content: '';
    margin-left: 0;
}

.intro p {
    color: #666666;
    font-weight: 300;
}

.ad-unit {
    margin-top: 20px;
    margin-bottom: 20px;
}


#map {
    min-height: 50vh;
    max-height: 100vh;
    background-image: url(images/sample-map.jpg);
    background-size: cover;
    margin-bottom: 60px;
    border-top: 10px solid #168dab;
}

/* Section Backgrounds */

.more-restaurants {
    background-image: url(images/more-restaurants-bg.jpg);
}

section.featured-hotels{
  background-image: url('images/featured-hotels-bg.jpg');
}

section.attractions {
    border-top: 20px solid hsla(176,43%,65%,1);
    background-image: url('images/attractions-index-bg.jpg');
}

section.nightlife{
  border-top: 20px solid #168dab;
  background-image: url('images/nightlife-index-bg.jpg');
}

section.events{
  background-image: url('images/events-index-bg.jpg');
}

section.featured-events {
    border-top: 20px solid hsla(176,43%,65%,1);
}

/* Section Specifics */
.nightlife h2 {
    color: white;
}

/* Calendar Styles */
.calendar-container .calendar .week {
    margin-bottom: 30px;
}

.calendar .day.today, .calendar .days.today {
    background: #d2edeb;
    transition: background 0.5s;
}

.day.past-day {
    opacity: 0.5;
}

.day.past-day:hover {
    opacity: 1;
}

.day.previous-month,
.days.previous-month,
.day.next-month,
.days.next-month {
  transition: background-color 0.5s;
}

.calendar-container .calendar .day,
.calendar-container .calendar .days {
    min-height: 16.5rem;
}



.calendar .day.today:hover, .calendar .days.today:hover {
    background: #a4dbd7;
    border: 1px solid transparent;
}

.calendar .title .current-month {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1;
    color: #D93800;
    margin: 0 55px
}

.prev-month a, next-month a {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    color: #6D6E71;
    border-bottom: none;
    letter-spacing: 0.03em;
}

.calendar .filter {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.calendar .filter select {
    margin-bottom: 0;
}

.calendar .filter > div {
    margin-right: 20px;
}

.calendar .filter > div:last-child {
    margin-right: 0;
}

.calendar .day, .calendar .days {
    position: relative;
    padding: 0 0.39375rem;
    width: 100%;
    border: 1px solid transparent;
    transition: border 0.5s;
}

.calendar .day:hover, .calendar .days:hover {
    background: transparent;
    border: 1px solid #d93800;
}

.date-header {
    line-height: 1;
    padding: 18px 0 16px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 6px solid #d2edeb;
    margin-bottom: 10px;
}

.date-header span.date {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 1.68px;
    color: #808080;
    font-weight: 700;
}

span.day-of-week {
    font-size: 16px;
    color: #808080;
    font-weight: 300;
    letter-spacing: 0.03em;
}

h6.event-title {
    color: #808080;
    font-size: 0.88rem;
    font-weight: 300;
    font-family: "franklin-gothic-urw", sans-serif;
    margin-bottom: 15px;
}

.featured-event h6.event-title {
    color: #D93800;
    font-weight: 600;
    letter-spacing: 0.01em;
}

.calendar .featured-event {
    border-bottom: 1px solid #e6e6e6;
}

/* Profile */

section.hero.profile {
    border-bottom: 30px solid #4d4d4d;
    max-width: 100vw;
    overflow: hidden;
}

.hero.profile .background-1 {
    overflow: hidden;
    background-color: #333;
}

.hero.profile .background-2 {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
}

.blur img {
    width: 110%;
    filter: blur(50px);
}

.hero.profile .container {
    position: absolute;
    top: 0;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1320px;
    width: 100%;
}

.profile .page-title h1 {
    font-size: 1.8rem;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    background-color: rgba(102, 0, 0, 0.75);
    max-width: 90%;
}

section.main.profile {
    padding-top: 0;
}

.profile-nav > div {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.15rem;
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-right: 1px solid #ddd;
}

.profile-nav > div:last-of-type {
    border-right: none;
}

.profile-nav > div a {
  padding: 12px 5px;
  color: #666;
  text-decoration: none;
  border-bottom: none;
  display: block;
  width: 100%;
}

.profile-nav > div a:hover {
    background-color: #f4f4f4;
    border-bottom: 5px solid #d93801;
    padding-bottom: 7px;
}

.main.profile .main-info,
.main.profile .description,
.main.profile .photo-gallery,
.main.profile .map,
.main.profile .amenities {
    margin-top: 50px ;
}

/* Article */
.meta {
    margin: 20px 0 0;
    border-bottom: 1px solid #ededed;
    padding-bottom: 30px;
    position: relative;
}

.meta:after {
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #ff6900;
    position: absolute;
    bottom: 0;
}

.subtitle h2 {
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 1.2rem;
    color: #404040;
    font-weight: 300;
    max-width: 90%;
}

.byline, .byline a {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
}

.meta .date {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    font-size: 0.75rem;
    margin-top: 2px;
}

.social-share {
    margin-top: 30px;
}

.social-share a {
    border-bottom: none;
    margin-right: 20px;
}

.social-share span {
    margin-right: 20px;
}

article {
    margin-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed;
}

/* Footer */
footer{
  background-color: #d73c26;
  color: #fff;
}
.footer-first {
    height: 320px;
    padding-top: 55px;
}
.footer-first .row {
    position: relative;
}

.footer-first .small-first2 {
    padding-left: 140px;
}

footer h4,
footer h4 a,
footer h4 a:link,
footer h4 a:hover {
  font-size: 2rem;
  font-weight: 400;
  color: white !important;
  border-bottom: none;
  margin-bottom: 0;
  font-style: italic;
}

.footer-first ul li a {
    color: #d9d9d9;
    font-weight: 300;
    cursor: pointer;
    display: block;
    border-bottom: none;
    list-style-type: none;
    letter-spacing: 0.05em;
}


h4.footer-logo {
    background-image: url(images/footer-logo.png);
    background-size: 100%;
    width: 150px;
    height: 27px;
    text-indent: -9999px;
}

ul.footer-first-links {
    margin-left: 0;
    list-style-type: none;
    line-height: 1.8;
}

footer .surf-statue {
    position: absolute;
    width: 120px;
    height: 320px;
    background-image: url(images/surfer-footer.png);
    background-size: cover;
    top: -55px; /* Same as Footer First Padding-Top */
}

.footer-second {
    background-color: #292929;
    padding: 45px 0 58px;
}

.footer-second, .footer-second a {
    font-family: "franklin-gothic-urw", sans-serif;
    color: #666;
    font-size: 0.75rem;
    border-bottom: none;
}

.first-links, .second-links {
    margin-bottom: 0;
}

.first-links a, .second-links a {
    font-weight: 500;
    letter-spacing: 0.12em;
    margin-right: 15px;
}

.second-links a {
    font-size: 0.65rem;
    color: #666;
}

.second-links + span {
    font-size: 0.65rem;
    color: #555;
    margin-top: 10px;
    display: block;
}

.main-footer-action{
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 1rem;
  color: #bfbfbf
}

.main-footer-action img, .main-footer-action p {
    margin-right: 15px;
    line-height: 24px;
    height: 24px;
    vertical-align: sub;
}

/* Sign In */
section.sign-in {
    background-image: url(images/sign-up-bg.jpg);
    background-size: cover;
}

.sign-in-box {
    text-align: center;
    background-color: white;
    padding: 70px;
    border-bottom: 7px solid #aaa;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.sign-in h1 {
    font-size: 2.6667rem;
    margin-bottom: 1.6667rem;
}

a.button.facebook {
    background-color: #3b5998;
    border-bottom: none;
}

a.button.facebook:hover {
    background-color: #2a406f;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-linear-gradient(left, transparent, #818078, transparent);
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.sign-in input[type="text"], .sign-in input[type="password"] {
    border: 1px solid #ddd;
    box-shadow: none;
    font-family: "franklin-gothic-urw",sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.sign-in-box .small {
    font-family: "franklin-gothic-urw", sans-serif;
    color: #ccc;
    font-size: 14px;
}

.sign-in-box .small input,
.sign-in-box .small label {
  font-size: 14px;
  float: left;
  display: inline;
  margin-bottom: 0;
  line-height: 1;
}

.sign-in-box .small.right {
    float: right !important;
    text-align: right;
    line-height: 1;
}

.sign-in-box h3 {
    color: #808080;
    font-weight: 400;
    font-size: 1.35rem;
    margin-top: 60px;
}

.sign-in-box h3 a.orange {
    color: #d83c26;
}

.sign-in-box p {
    font-family: "franklin-gothic-urw",sans-serif;
}






@media only screen and (min-width: 40.0625em){
  h1 {
    font-size: 4rem;
  }

  h3{
    font-size: 2rem;
  }
  .contain-to-grid {
      background: white;
      box-shadow: 0 0 20px rgba(0,0,0,0.25);
  }
  .contain-to-grid .top-bar {
    max-width: 100%;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    color: #fa4c07;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "freight-macro-pro", serif;
    background-color: white;
    border-bottom: none;
    height: 100%;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #d93801;
    background: #d93801;
    color: white;
  }

  .top-bar ul.right {
    max-width: 300px;
  }

  .top-bar-section .has-form {
    background: #f2f2f2;
    height: 2.8125rem;
    padding: 0 0.9375rem;
  }

  .top-bar-section .has-dropdown > a:after {
    border-color: #d93801 transparent transparent transparent;
  }

  .top-bar-section ul li:hover:not(.has-form) > a {
      background-color: #d93801;
      color: #FFFFFF;
      background: #d93801;
  }

  .top-bar-section ul.dropdown li {
      background: white;
  }

  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
      background: white;
      color: #666;
  }

  .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      font-size: 1rem;
      background-color: white;
      box-shadow: 0 10px 10px rgba(0,0,0,0.25);
      border-top: 5px solid #d93801;
      transform: translateX(-33%);
  }

  .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
      background-color: white;
      color: #d93801;
      background: white;
  }

  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
      font-size: 1rem;
      font-weight: 300;
      line-height: 2.25;
      padding: 0;
  }

  .top-bar-section .dropdown li:not(.has-form) h5 a:not(.button),
  .top-bar-section .dropdown li:not(.has-form) h5 a:not(.button):hover {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2.25;
      padding: 0;
      font-weight: 700;
      color: #d93801;
      margin-bottom: 0;
      text-transform: none;
      background: white;
      background-color: white;
      border-bottom: none;
  }

  .top-bar-section .dropdown li:not(.has-form) h6 a:not(.button),
  .top-bar-section .dropdown li:not(.has-form) h6 a:not(.button):hover {
      font-size: 1em;
      font-weight: 700;
      line-height: 2.25;
      padding: 0;
      font-weight: 700;
      color: #d93801;
      margin-bottom: 0;
      text-transform: none;
      background: white;
      background-color: white;
      color: #660000;
      font-weight: 600;
      line-height: 2.5;
  }

  .dropdown h5 {
      text-transform: capitalize;
      letter-spacing: 0;
      font-family: "freight-macro-pro", serif;
      font-size: 1.4em;
      color: #d93801;
      margin-bottom: 0;
  }

  .dropdown h6 {
      font-size: 1em;
      font-family: "freight-macro-pro", serif;
      color: #660000;
      border-top: 1px solid #e5e5e5;
      line-height: 2.5;
      display: block;
  }

  ul.larger li a {
      font-size: 1.3em !important;
      line-height: 40.5px !important;
  }

  .standard-card, .featured-card {
      margin-bottom: 20px;
  }

  .hero .background-1 {
    height: 400px;
  }
  .hero.profile .background-2 {
    height: 400px;
    min-height: 400px;
  }
  section.hero.short-image {
      border-bottom: 30px solid #d93701;
  }

  .hero.short-image .background {
      height: 180px;
  }

  .page-title h1 {
    margin: 0;
  }

  .profile .page-title h1 {
    font-size: 2.5rem;
    padding: 10px 20px;
    max-width: 80%;
    margin: 0;
  }
  .byline, .byline a {
      font-size: 1.35rem;
  }

  article {
      margin-top: 60px;
  }

  .container h2, .container h3 {
    padding: 0 0.9375rem;
  }

  .ad-row .ad-300x100 {
      margin-right: 30px;
      margin-bottom: 30px;
  }

  .sign-up-form p {
      margin-right: 20px;
  }
}

@media only screen and (min-width: 64.0625em){
  .contain-to-grid .top-bar {
    max-width: 80%;
  }
  p {
    font-size: 1.17rem;
  }
  .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      width: 50vw !important;
  }

  .standard-card, .featured-card {
      margin-bottom: 30px;
  }
  .hero .background-1 {
    height: 650px;
  }
  .hero .background-2 {
    min-height: 500px;
  }
  .hero.profile .background-2 {
    height: 650px;
  }

  .hero.short-image .background {
      height: 300px;
  }

  .background-1 .container {
    padding-top: 140px;
  }

  .profile .page-title h1 {
      font-size: 4rem;
      padding: 12px 25px;
      max-width: 65%;
  }
  .meta {
      margin: 40px 0 0;
  }
  .subtitle h2 {
      font-size: 1.8rem;
      max-width: 75%;
      padding-left: 0;
  }
  .byline, .byline a {
      font-size: 1.5rem;
  }
  article {
      margin-top: 80px;
  }

  .ad-row .ad-300x100 {
      margin-right: 30px;
      margin-bottom: 0;
  }
}


/* SCSS Topbar Rules */
$screen: "only screen";
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
$topbar-breakpoint: #{lower-bound($large-range)}; /*Changed by Josh; show mobile menu on tablet. Change to 9999px for always mobile layout*/
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";
